<h1>CRUD NODEJS</h1>
<h2>Teste 2</h2>
<h3>teste 3</h3>
<a href="inserir">Inserir</a>

<form action="/info/get" method="GET">
    <input type="submit" value="GET">
</form>
<form action="/info/add" method="post">
    <label for="add">ADD</label>
    <input type="text" name="add" id="">
    <input type="submit" value="ADD">
</form>

<form action="/info/update" method="POST">
    <label for="oldValue">Old Value</label>
    <input type="text" name="oldValue" id="oldValue">
    <label for="newValue">New Value</label>
    <input type="text" name="newValue" id="newValue">
    <input type="submit" value="UPDATE">
</form>

<form action="/info/delete" method="POST">
    <label for="delete">DELETE</label>
    <input type="text" name="delete" id="delete">
    <input type="submit" value="DELETE">
</form>